body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    margin: 20px;
}

.hidden {
    display: none;
}


.container_list{
    position: relative;
    width: 40%;
    padding:  20px 20px 20px 20px;
    margin: 20px ;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    height: 700px;
}

#editable{
    position: relative;
    width: 50%;
    margin: 20px ;
    padding:  20px 20px 20px 20px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    height: 700px;
}

#searchInput {
    padding: 8px;
    margin-right: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
}

#filterSelect {
    padding: 8px;
    margin-right: 20px;
    font-size: 16px;
    width: 20%;
    position: absolute;
    right: 0;
    border-radius: 10px;
}

#datePicker {
    padding: 8px;
    margin-right: 12px;
    font-size: 16px;
    width: 15%;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
}

#datePicker2 {
    padding: 4px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
}

#teamPicker {
    padding: 4px;
    font-size: 16px;
    width: 30%;
    border-radius: 10px;
    border: 1px solid #1d1d1d;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

/* Lista */
  
.containder_scroll {
border: 2px solid #0078d4;
border-radius: 8px;
max-height: 200px;
overflow-y: auto;
margin: 20px 0;
}

.containder_scroll ul {
list-style: none;
padding: 0;
margin: 0;
}

.containder_scroll li {
padding: 10px;
border-bottom: 1px solid #ddd;
}

.containder_scroll li:last-child {
border-bottom: none;
}

.row {
display: block;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}

label {
    flex: 1; 
    text-align: left;
    padding-right: 10px;
}

.input_docs{
    flex: 1; 
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.button_save  {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: #ffffff;
    background-color: #00ff11;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button_save:hover {
    background-color: #00d40e;
}


.button_cancel {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0; 
    color: white;
    background-color: #ff2f00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button_cancel:hover {
    background-color: #cd2701;
}


.input_error {
    border: 2px solid red;
}

.inner_list_div {
    position: relative; display: flex; justify-content: space-between; align-items: center;
}

.edit_button{
    border: none; background: none; padding: 0;
}
.trash_img{
    width: 20px; height: 20px; display: block;
}
.trash_img:hover{
    width: 20px; height: 20px; display: block; filter: invert(0.5);
}


.popup_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup_content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.popup_text {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.ok_popup_btn {
    padding: 10px 20px;
        
margin: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.ok_popup_btn:hover {
    background-color: #0056b3;
}
