body {
    font-family: "Consolas", monospace;
    font-size: 14pt;
    margin: 20px;
}

.hidden {
    display: none;
}

.input_docs{
    flex: 1; 
    text-align: right;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input_error {
    border: 2px solid red;
}
