<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/addterm.css" />
        <link rel="stylesheet" href="styles/buttons.css" />
        <link rel="stylesheet" href="styles/popup.css" />
        <link rel="stylesheet" href="styles/common_styles.css" />
        <link rel="stylesheet" href="styles/list_styles.css" />
        <title>Add term</title>
    </head>
    <body>
        <h1>Add Inspection term</h1>
        <div style="width: 100%; display: flex">
            <div id="search" class="container_list">
                <div style="padding: 10px">
                    <h3>Inspection Terms:</h3>

                    <div style="width: 50%">
                        <div class="row" id="select_inspected">
                            Select inspected:
                            <select id="inspectedPicker" class="pickers">
                                <option value="">Select Inspected</option>
                            </select>
                        </div>

                        <div class="row" id="select_subject">
                            Subject:
                            <select id="subjectPicker" class="pickers">
                                <option value="">Select Subject</option>
                            </select>
                        </div>

                        <div class="row" id="select_date">
                            Date
                            <select id="datePicker" class="pickers">
                                <option value="">Select Date</option>
                            </select>
                        </div>

                        <div class="row" id="select_inspectors">
                            Inspectors:
                            <select id="teamPicker" class="pickers">
                                <option value="">Select Inspectors</option>
                            </select>
                        </div>
                    </div>
                    <hr style="border-top: 3px static #000000" />
                    <div id="editable" class="hidden">
                        <h3>Term details:</h3>
                        <div class="row">
                            Inspected:
                            <div id="info_inspected"></div>
                        </div>
                        <div class="row">
                            Department:
                            <div id="info_department"></div>
                        </div>
                        <div class="row">
                            Subject:
                            <div id="info_subject"></div>
                        </div>
                        <div class="row">
                            Date and location:
                            <div id="info_date"></div>
                        </div>
                        <div>
                            Inspectors:
                            <div id="info_inspectors"></div>
                        </div>
                    </div>

                    <a
                        class="button_save"
                        id="buttonSave"
                        style="
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            margin: 20px;
                        "
                        >Add</a
                    >
                    <a
                        class="button_cancel"
                        id="buttonCancel"
                        href="index.html"
                        style="
                            position: absolute;
                            bottom: 0;
                            left: 105px;
                            margin: 20px;
                        "
                        >Cancel</a
                    >
                </div>
            </div>
        </div>
        <script type="module" src="../Controller/addTermController.js"></script>
    </body>
</html>
