<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/styleeditdocs.css" />
        <link rel="stylesheet" href="styles/buttons.css" />
        <link rel="stylesheet" href="styles/popup.css" />
        <link rel="stylesheet" href="styles/list_styles.css" />
        <link rel="stylesheet" href="styles/common_styles.css" />
        <title>Document</title>
    </head>
    <body>
        <h1>Edit Inspection Documents</h1>
        <div style="width: 100%; display: flex">
            <div id="search" class="container_list">
                <input
                    type="text"
                    id="searchInput"
                    placeholder="Search document..."
                />
                Sort by
                <select id="filterSelect">
                    <option value="new">Newest</option>
                    <option value="old">Oldest</option>
                </select>

                <hr style="border-top: 3px static #000000" />
                <div style="display: flex;width: 100%;">
                    <div style="flex: 25;">Date of inspection</div>
                    <div style="flex: 15; text-align: center;">Subject</div>
                    <div style="flex: 50;">Inspected</div>
                    <div style="flex: 10; text-align: center;">Edit</div>
                  </div>
                
                <hr style="border-top: 3px static #000000" />
                <div class="containder_scroll"> 
                    <ul id="itemList"></ul>
                </div>

                <a
                    href="index.html"
                    class="button"
                    id="button"
                    style="
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin: 20px;
                    "
                    >Return to Main</a
                >
            </div>

            <div id="editable" class="hidden">
                <div style="padding: 10px">
                    <h3>Inspection Document:</h3>
                    <div class="row">
                        Inspected:
                        <div id="Inspected_name"></div>
                    </div>
                    <div class="row">
                        Department:
                        <div id="Inspected_department"></div>
                    </div>
                    <div class="row">
                        Inspection date:
                        <div id="Inspection_date"></div>
                    </div>
                    <div class="row">
                        Subject:
                        <div id="Inspected_Subject"></div>
                    </div>
                    <div class="row">
                        Subject code:
                        <div id="Inspected_Subject_code"></div>
                    </div>
                    <div class="row">
                        Inspectors:
                        <div id="Inspectors"></div>
                    </div>
                </div>

                <hr style="border-top: 3px static #000000" />

                <div style="padding: 10px; width: 50%">
                    <div class="row" id="Inspected_lateness">
                        <label>Inspected lateness:</label>
                        <input
                            type="text"
                            id="Inspected_lateness_input"
                            class="input_docs"
                            value="0"
                        />
                    </div>
                    <div class="row">
                        <label>Students attendance:</label>
                        <input
                            type="text"
                            id="Student_attendance_input"
                            value="121"
                            class="input_docs"
                        />
                    </div>
                    <div class="row">
                        <label>Room adaptation:</label>
                        <input
                            type="text"
                            value="good"
                            class="input_docs"
                            id="Room_adaptation_input"
                        />
                    </div>
                    <div class="row">
                        <label>Content compatibility:</label>
                        <input
                            type="text"
                            value="very good"
                            class="input_docs"
                            id="Content_compatibility_input"
                        />
                    </div>
                    <div class="row">
                        <label>Substantive assessment:</label>
                        <input
                            type="text"
                            value="Lorem ipsum"
                            class="input_docs"
                            id="Substantive_assessment_input"
                        />
                    </div>
                    <div class="row">
                        <label>Final assessment:</label>
                        <input
                            type="text"
                            value="5"
                            class="input_docs"
                            id="Final_assessment_input"
                        />
                    </div>
                    <div class="row">
                        <label>Recommendation:</label>
                        <input
                            type="text"
                            value="Lorem ipsum"
                            class="input_docs"
                            id="Recommendation_input"
                        />
                    </div>
                </div>

                <a
                    class="button_save"
                    id="buttonSave"
                    style="position: absolute; bottom: 0; left: 0; margin: 20px"
                    >Save</a
                >
                <a
                    class="button_cancel"
                    id="buttonCancel"
                    style="
                        position: absolute;
                        bottom: 0;
                        left: 105px;
                        margin: 20px;
                    "
                    >Cancel</a
                >
            </div>
        </div>

        <script
            type="module"
            src="../Controller/editInsectionDocsController.js"
        ></script>
    </body>
</html>
