<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Manage Hospitation Team</title>
        <link rel="stylesheet" href="styles/index.css" />
        <link rel="stylesheet" href="styles/buttons.css" />
    </head>
    <body>
        <header>
            <div class="header_con">
                <img src="images/pwr.png" alt="Pwr logo" class="logo" />
                <nav>
                    <a href="index.html">Home</a>
                    <a href="index.html">Settings</a>
                    <a href="index.html">My Profile</a>
                    <a href="index.html">Help</a>
                </nav>
            </div>
        </header>
        <main>
            <div class="hello">Hello, Name!</div>
            <div class="tiles_container">
                <h1>Inspection Management System</h1>
                <p>Select an option:</p>
                <div class="tiles">
                    <a href="manageTeams.html" class="tile">Manage Teams</a>
                    <a href="viewScheldue.html" class="tile">View Schedule</a>
                    <a href="editInspectionDocs.html" class="tile"
                        >Edit Documents</a
                    >
                    <a href="addTerm.html" class="tile">Add Inspection Terms</a>
                    <a href="editDeleteTerm.html" class="tile"
                        >Edit/Delete Inspection Terms</a
                    >
                </div>
            </div>
        </main>

        <footer>
            <p>Inspection System</p>
            <p>Wroclaw University of Science and Technology</p>
            <p>Faculty of Information and Communication Technology</p>
            <p>&copy; Jan Maciuk Jakub Śliwka, All Rights Reserved</p>
        </footer>
    </body>
</html>
