<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>View Schedule</title>
        <link rel="stylesheet" href="styles/style.css" />
    </head>
    <body>
        <h1>View Inspection Schedule</h1>
        <div class="container">
            <label for="semester-list">Select a Semester:</label>
            <select id="semester-list">
                <option value="">Select a Semester</option>
            </select>
            <button class="button" onclick="viewSchedule()">
                View Schedule
            </button>
            <p id="message" class="alert"></p>
        </div>

        <div class="container hidden" id="schedule-list">
            <h2>Schedule for <span id="chosen-semester"></span></h2>
            <ul id="schedule-details"></ul>
        </div>

        <a href="index.html" class="button">Return to Main</a>
        <script src="../Controller/scheldueController.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', loadSemesters)
        </script>
    </body>
</html>
